[TG_BOT]
token=
admin_id=

[DB_BOT]
db_type=
db_name=
user=
password=
host=
port=

[YANDEX_BOT]
auth_token=
iam_token=
folder_id=

[CLICKHOUSE]
host=
database=
user=
port=
password=

[KAFKA]
bootstrap_servers=kafka:9092

[REDIS]
host=
port=
db=
password=

[APP]
type=bot
; or worker